<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
       <title><{$config.title}></title>
     <meta name="keywords" content="<{$config.keywords}>"/>
     <meta name="description" content="<{$config.description}>"/>
    <link href="__STYLE__/mobile/BCYCSS.css" rel="stylesheet" />
</head>
<body>
  <include file='Common:menu' />

    <div class="gopharmacy">
        <div class="sharingdiv"> 

            <!--<div style="line-height: 30px;">-->
            <{$relust.art_content}>
            <!--</div>-->
        </div>
    </div>

    <include file='Common:foot' />
</body>
</html>
