  <div class="foot">
        <div class="link w10">
            <span>友情链接：</span>
            <volist name="link" id="vo">
                <a href="<{$vo.url}>"  target="_blank" ><{$vo.title}></a>
            </volist>

        </div>

        <div class="footmap">
            <div class="footmsg w10">
                <div class="footleft">
                    <div class="footurl">
                        <a>关于我们</a>
                        <span>|</span>
                        <a>帮助中心</a>
                        <span>|</span>
                        <a>友情链接</a>
                        <span>|</span>
                        <a>法律声明</a>
                        <span>|</span>
                        <a>版权信息</a>
                        <span>|</span>
                        <a>网站地图</a>
                    </div>
                    <div><{$config.info1}> </div>
                    <div> <{$config.copyright}>  <{$config.icp}> <{$config.cnzz}></div>
                   
                </div>
                <div class="footright">
                    <div class="rightdiv">
                        <img src="__IMG__/home/WeChat.png" class="rightimg" />
                        <div>关注微信</div>
                    </div>
                    <div class="rightdiv">
                        <img src="__IMG__/home/Sina.png" class="rightimg" />
                        <div>关注微博</div>
                    </div>
                </div>
            </div>
        </div>
    </div>