<include file='Common:head' />
<title>查看/回复</title>
</head>
<body>
<div class="pd-20">
  <div class="Huiform">
    <form action="__SELF__" method="post">
      <table class="table table-bg">
        <tbody>
          
          <tr>
            <th class="text-r">主题：</th>
            <td><input type="text" style="width:300px" class="input-text" value="<{$message_row.subject}>" placeholder=""></td>
          </tr>  <tr>
            <th class="text-r">内容：</th>
            <td><textarea style="width:300px;height:100px;"><{$message_row.content}></textarea></td>
          </tr> 
         
        </tbody>
      </table>
    </form>
  </div>
</div>
<include file='Common:foot' />